* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'NeueHansKendrick';
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/NeueHansKendrick-Regular.otf) format('otf');
    src: url(./fonts/NeueHansKendrick-Regular.ttf) format('ttf');
}


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'NeueHansKendrick';
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    background-color: #e2e7ec;
}

ul,
li,
p,
h4,
h2 {
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    max-width: 1124px;
    width: 100%;
    margin: 0 auto;

}

main .first,
main .second {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
}

main .text {
    margin-left: 20px;
}

main .text p {
    font-size: 13px;
    color: #818181;
    font-weight: 500;
    width: 200px;
    margin-bottom: 10px;
}

main .first,
main .second {
    height: 540px;
}

main .face {
    width: 100%;
}

main .author {
    margin-top: 45px;
    margin-bottom: 20px;
}

main .first .left {
    background: url(./image/redcar.png) no-repeat center;
    background-size: cover;
    width: 66%;
    margin-right: 20px;
    height: 100%;
}

main .first .left .text {
    margin-top: 400px;
}

main .first .left h2 {
    font-size: 30px;
    width: 70%;
    letter-spacing: 1px;
    color: #ffffff;
    padding-bottom: 30px;
}

main .first .right,
main .second .item {
    background-color: white;
    width: 32%;
}

main .first .right .face {
    width: 100%;
}

main .first .right h2,
main .second .item h2 {
    font-size: 22px;

}

main .first .right p,
main .second .item p {
    margin-top: 20px;
    margin-bottom: 20px;
}

main .second .item {
    margin-right: 20px;
}

main .second .item:last-child {
    margin-right: 0;
}