html,
body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode', arial;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #3d99cc;
    /* border: 5px solid #3382ac; */

}

h3,
p {
    margin: 0;
}

h1 {
    display: inline-block;
    margin-left: 65px;
}

.wi-sunrise {
    font-size: 30px;
    margin-right: 10px;
}

section {
    box-sizing: border-box;
    width: 928px;
    margin: 0 auto;
}

section ul {
    padding: 0;
    font-size: 0px;
    text-align: center;

}


section ul li {
    font-size: 16px;
    display: inline-block;
    border: 6px solid white;
    margin-right: -12px;
    margin-top: -8px;
}

section ul li:hover {
    opacity: 50%;
}

section ul .width-50 {
    width: 48%;
}

section ul .width_small {
    width: 24%;
}

li:last-child {
    width: 96%;
    background-color: #666699;
}

li:nth-child(2) {
    background-color: #60cdcd;
}

li:nth-child(3) {
    background-color: #996699;
}

li:nth-child(4) {
    background-color: #c24747;
}

li:nth-child(5) {
    background-color: #e2674a;
}

li:nth-child(6) {
    background-color: #f9cc65;
}

li:nth-child(7) {
    background-color: #99cc99;
}

li:nth-child(8) {
    background-color: #669999;
}

li:nth-child(9) {
    background-color: #cc6699;
}

li:nth-child(10) {
    background-color: #4b9967;
}