<footer>

    <section class="footer">
        <div class="footer__logo logo">
            <img src="assets/images/Logo.png" alt="logo">
            <p class="copyright">Copyrights © 2020 Montichello</p>
        </div>

        <div class="footer__social social">
            <img class="" src="assets/images/fb.png" alt="facebook">
            <img src="assets/images/twitter.png" alt="twitter">
            <img src="assets/images/instagram.png" alt="instagram">


        </div>
    </section>
</footer>
