<section class="whatWeDo">
    <h2 class="whatWeDo__title">
        WHAT WE DO
    </h2>
    <div class="whatWeDo__flex padding-right">
        <div class="photo">
            <img src="../assets/images/whatwedo.png" alt="whatwedo">
        </div>
        <div class="description pd-left">
            <p class="description__text-big">
                ONE WORLD
            </p>
            <h3 class="description__title title-h3">
                TRADE CENTER
            </h3>
            <p class="description__text-small">
                Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is,
                our thoughts are very powerful.
            </p>
            <button class="description__button btn">
                MORE DETAILS
            </button>
            <p class="description__location">
                <i class="fa fa-map-marker icon" aria-hidden="true"></i>New York City, United States - 1776
            </p>
        </div>
    </div>
</section>
<section class="whatWeDo">

    <div class="whatWeDo__flex padding-left">

        <div class="description pd-right">
            <p class="description__text-big">
                INTERNATIONAL
            </p>
            <h3 class="description__title title-h3">
                COMMERCE CENTRE
            </h3>
            <p class="description__text-small">
                Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how
                a digital advertising network may help.
            </p>
            <button class="description__button btn">
                MORE DETAILS
            </button>
            <p class="description__location">
                <i class="fa fa-map-marker icon" aria-hidden="true"></i>Hong Kong - 1588 feet
            </p>
        </div>
        <div class="photo ">
            <img src="../assets/images/commerce.png" alt="whatwedo">
        </div>
    </div>
</section>

<section class="news">
    <h3 class="news__title title-h3">
        LATEST NEWS
    </h3>
    <div class="slider multiple-items">
        <div class="card">

            <img class="slide__img" src="../assets/images/news1.png" alt="one">

            <p class="card__text">
                SEE THE UNMATCHED BEAUTY OF THE GREAT.</p>
            <p class="card__alternative">
                Free directories: directories are perfect for customers that are searching
                for...</p>

            <div class="card__review">

                <img class="card__icon" src="../assets/images/person1.png" alt="person">

                <div class="card__author">
                    <p class="card__name">ALJA BRUN</p>
                    <p class="card__date">20 Jan 2020</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__description">
                <img class="slide__img" src="../assets/images/news2.png" alt="one">
                <p class="card__text">
                    EFFECTIVE ADVERTISING POINTERS.</p>
                <p class="card__alternative">
                    FHaving a home based business is a wonderful asset to your life...</p>
            </div>
            <div class="card__review">

                <img class="card__icon" src="../assets/images/person2.png" alt="person">

                <div class="card__author">
                    <p class="card__name">DOMINIC FREEMAN</p>
                    <p class="card__date">20 Jan 2020</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__description">

                <img class="slide__img" src="../assets/images/news3.png" alt="one">

                <p class="card__text">
                    HYPNOTIZE YOURSELF INTO THE GHOST.</p>
                <p class="card__alternative">
                    There are many things that are important to catalog design...</p>
            </div>
            <div class="card__review">
                <img class="card__icon" src="../assets/images/person3.png" alt="person">
                <div class="card__author">
                    <p class="card__name">ALICE WARD</p>
                    <p class="card__date">20 Jan 2020</p>
                </div>
            </div>
        </div>
    </div>



</section>

<section class="gallery">
    <h3 class="gallery__title title-h3">GALLERY</h3>
    <div class="gallery__left">
        <img src="../assets/images/gallery1.png" alt="">

        <div class="gallery__right">
            <div class="gallery__right-margin">
                <img src="../assets/images/gallery2.png" alt="">
                <img src="../assets/images/gallery3.png" alt="">
            </div>
            <div>
                <img src="../assets/images/gallery4.png" alt="">
                <img src="../assets/images/gallery5.png" alt="">
            </div>
        </div>
    </div>
    <button class="gallery__button btn">
        MORE DETAILS
    </button>
</section>
