<section class="contacts">
    <div id="map">

    </div>

    <div class="contacts__container">
        <h3 class="contacts__title title-h3">
            GET IN TOUCH
        </h3>

        <div class="contacts__details">

            <div class="contacts__block">

                <p class="contacts__text"> <i class="fa fa-map-marker icon" aria-hidden="true"></i>91 Nolan Extensions
                    Suite
                    670 </p>

                <p class="contacts__text"><i class="fa fa-phone icon" aria-hidden="true"></i>+001 356-868-2454 </p>
                <p class="contacts__text"><i class="fa fa-envelope-o icon"
                        aria-hidden="true"></i>montichello@service.com
                </p>
                <p class="contacts__text"><i class="fa fa-clock-o icon" aria-hidden="true"></i>07:05AM to 19:30PM</p>


            </div>

            <div>
                <form class="contacts__form" action="get">

                    <input class="input" type="text" name="" id="username" placeholder="Mollie Medina">

                    <input type="emil" name="" id="email" class="input input-grey" placeholder="Email">
                    <button class="btn form__btn">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>


</section>
