body,
div,
section,
h1,
h2,
h3,
h4,
p,
span,
ul,
li {
	box-sizing: border-box;
	font-size: 18px;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-block-start: 0;
	padding-block-end: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	font-family: 'Poppins', sans-serif;
	line-height: normal;
}

ul,
li,
a {
	text-decoration: none;
	color: #2F281E;

}

.header {
	display: flex;
	max-width: 1111px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 37px;
}

.header__logo {
	flex-grow: 1;
	height: 32px;
}

.navigation {
	margin-right: 31px;
}

.navigation__list--item {
	display: inline;
	text-decoration: none;
	list-style-type: none;
	font-size: 14px;
	font-weight: 400;
	padding-right: 22px;
	line-height: 28px;
	/* margin-right: 20px;
	margin-bottom: 10px; */
	/* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.navigation__list--item: nth-last-child {
	padding-right: 0px;
}


.topnav {

	overflow: hidden;
	background-color: #333;
	position: relative;
}

.wrapper {
	display: none;
}

.topnav span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: white;
	border-radius: 3px;
}

.button {
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	background-color: transparent;
	padding: 11px 23px 13px 23px;
	border-radius: 4px;
	border-style: solid;
}

.header__btn {
	font-size: 0;

}

.sign__in {
	border-color: #BCD0E5;
	border: 1px solid #BCD0E5;
	margin-right: 14px;

}

.sign__up {
	color: white;
	background-color: #FF9900;
	border-color: #FF9900;

}

section,
footer,
header {
	max-width: 1126px;
	width: 100%;
	margin: 0 auto;
}

.intro {
	display: flex;
	margin-top: 47px;
}

.intro__left {
	margin-left: 10px;
	margin-top: -16px;
}

.intro__right {
	margin-right: -10px;
}

.title {
	font-weight: bold;
	font-size: 44px;
	line-height: 54px;
	color: #2F281E;
}

.intro__title {
	padding-top: 100px;

}

.intro__text {
	width: 87%;
	padding-top: 30px;
	font-size: 18px;
	line-height: 28px;
	color: #544837;
}

.intro__btn--left {
	background: #FF9900;
	border-radius: 4px;
	color: white;
	padding: 18px 46px;
	border: none;
	margin-top: 57px;
	margin-right: 24px;
}

.intro__video {
	font-size: 16px;
	font-weight: 600;
	text-decoration-line: underline;
	color: #FF9900;
	background-image: url(./images/play.svg);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
	line-height: 24px;
}


.offer {
	margin-top: 130px;
}

.offer__block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 34px;
}

.offer__item {
	width: 17%;
}

.offer__title {
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	padding-bottom: 54px;
	width: 40%;
	margin: 0 auto;
}

.offer__name {
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	padding-top: 30px;
	padding-bottom: 13px;
}

.offer__text {
	font-size: 16px;
	line-height: 26px;
}

.offer__btn {
	margin: 0 auto;
	display: block;
}

.options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 100px;
}

.options__left {
	width: 50%;
}

.title__small {
	font-weight: 500;
	font-size: 16px;
	padding-bottom: 3px;
}

.title__big {
	font-weight: bold;
	font-size: 36px;
	padding-bottom: 22px;
}

.description {
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 30px;
}

.benefits__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 12px;
	padding-left: 0px;
}

.benefits__text {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 25px;

}

.different {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}

.different__right {
	width: 50%;
}

.bullet {
	padding-left: 65px;
	background: url(./images/bullet.svg);
	background-repeat: no-repeat;
	background-position-y: center;
}

.marketers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 104px;
	margin-bottom: 146px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 100px;
	margin-bottom: 83px;
	border-top: 1px solid #BCD0E5;
}

.footer__logo {
	align-items: top;
}

.footer__list {
	margin-top: 65px;
}

.footer__list--item {
	margin-bottom: 12px;
	display: block;
}

.footer__email {
	margin-top: 91px;
}

.footer__input {
	display: block;
	width: 325px;
	padding: 8px 15px;
	margin-bottom: 21px;
	border-color: #BCD0E5;
	border-width: 1px;
	border-style: solid;

}