@media only screen and (max-width: 991px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro__title {
        font-size: 22px;
        line-height: 30px;
    }

    .intro__text {
        font-size: 16px;
    }

    .intro__left {
        margin-left: 0px;
        margin-top: 0;
    }

    .intro__right {
        width: 87%;
        margin-right: 0;
    }

    .intro__right--svg {
        width: 100%;
    }

    .intro__video {
        display: block;
        margin-top: 30px;
        font-size: 15px;
    }

    .offer {
        margin-top: 0;
    }

    .offer__item {
        text-align: center;
    }

    .title {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }

    .offer__name {
        font-size: 18px;
    }

    .offer__text {
        font-size: 14px;
    }

    .options_right-side {
        width: 50%;
    }

    .options_right-side img {
        width: 100%;
    }

    .different__left {
        margin-right: 20px;
    }

    .different img {
        width: 80%;
    }

    .marketers {
        margin-bottom: 20px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .footer__list {
        margin-top: 20px;
        text-align: center;
        display: inline-flex;
    }

    .footer__email {
        margin-top: 30px;
    }

    .footer__input {
        display: inline;
    }

}

@media only screen and (max-width: 767px) {
    .navigation {
        display: none;
    }

    .topnav {
        display: block;
    }

    .wrapper {
        display: block;
        position: relative;
    }

    .wrapper .navigation__list {
        display: none;
    }

    .topnav:focus+.navigation__list {
        display: block;

    }

    .wrapper:focus+.navigation__list,
    .wrapper:hover+.navigation__list,
    .wrapper:active+.navigation__list {
        display: block;
    }

    .topnav:focus+.navigation__list,
    .topnav:hover+.navigation__list,
    .topnav:active+.navigation__list {
        display: block;
    }

    .header__btn {
        display: none;
    }


    .title {
        font-size: 22px;
        text-align: center;
    }

    .intro {
        margin-top: 0;
        display: block;
    }

    .intro__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro__title {
        padding-top: 80px;
    }

    .btn__block {}

    .intro__btn--left {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .intro__video {
        display: inline-block;
        margin-top: 0;
    }

    .intro__right {
        display: none;
    }

    .intro__text {
        text-align: center;
        width: 100%;
        font-size: 16px;
    }

    .title {
        width: 100%;
    }

    .offer {
        margin-top: 30px;
    }

    .offer__block {
        margin-bottom: 0;
    }

    .offer__item {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .options__left {
        width: 100%;
    }

    .benefits {
        width: 80%;
    }

    .description {
        font-size: 14px;
    }

    .benefits__text {
        font-size: 14px;
    }

    .different {
        margin-top: 0;
        padding-top: 30px;
        border-top: 1px solid grey;
    }

    .different__right {
        width: 100%;
    }

    .title__small,
    .title__big {
        text-align: left;
    }

    .title__big {
        text-align: left;
    }

    .marketers {
        border-top: 1px solid grey;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 30px;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
        display: block;
        margin-bottom: 0;
    }

    .footer__logo {
        margin-bottom: 30px;
    }

    .footer__list {
        margin-top: 5px;
        text-align: left;
        display: inline-block;
    }

    .footer__list--item {
        display: inline-block;
    }

    .footer__email {
        margin-top: 15px;
    }

    .footer__input {
        display: inline;
        margin-right: 10px;
        width: 30%;
        padding: 14px 15px;
    }
}


@media only screen and (max-width: 576px) {
    .options_right-side {
        display: none;
    }

    .offer__block {
        flex-wrap: wrap;
    }

    .offer__item {
        width: 50%;
    }

    .benefits {
        width: 100%;
    }

    .different__left {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .btn__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro__btn--left {
        margin-right: 0;
    }

    .offer__item {
        width: 100%;
    }

    .footer__list--item {
        display: block;
    }
}