html,
body,
h1,
p,
button,
h2,
div,
section {
    box-sizing: border-box;
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 1500px;
    line-height: normal;
    ;
}

* {
    transition: all .1s ease-out;
}

ul,
li,
a {
    text-decoration: none;
    display: inline-block;
}

header .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header,
.intro {
    padding: 0 30px;
}

header .logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #262626;
}

header nav ul li {
    margin-right: 40px;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: 16px;
    color: #262626;
    font-weight: 700;
    border-top: 3px solid transparent;
    padding-top: 10px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a:hover,
header nav ul li a:active {
    border-color: #ff6033;

}

.wrapper {
    background: url(./image/first.png);
    background-color: #fbfafc;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    /* height: 100vh; */

}

.wrapper .intro h1 {
    margin-top: 210px;
    font-size: 60px;
    color: #262626;
}

.wrapper .intro p {
    width: 370px;
    font-size: 17px;
    color: #262626;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 27px;
}

.wrapper .intro button {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    text-transform: uppercase;
    filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
    border: none;
}

.wrapper .intro a {
    text-align: center;
    margin-top: 290px;
    padding-bottom: 60px;
    display: block;
}

main .about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #00a09f 100%);
}

main .about h2 {
    font-size: 90px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 35px;

}

main .about p {
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    line-height: 27px;
    margin-top: 20px;
    max-width: 490px;
    width: 100%;
}

main .services {
    display: flex;
    background-color: #70bfff;
    padding-top: 100px;
}

main .services div {
    position: relative;
}

main .services .services__links {
    padding: 77px 0;
    text-align: center;
}

main .services .services__links a {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    padding: 10px;
    margin: 0 auto 20px;
    font-size: 20px;
    font-family: "Raleway";
    color: rgb(38, 38, 38);
    font-weight: bold;
    align-items: center;
    position: relative;
}

main .services .services__links a p {
    padding: 0 40px;
    font-size: 20px;
}

main .services .services__links a::after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: #9d9d9d;
    right: 90px;
    position: absolute;
}

main .services .services__links a:hover {
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
    background-color: #ffffff;
}

main .services h2 {
    font-size: 90px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 232px;
    margin-left: -50px;
}

main .services .services_image {
    background: url(./image/tomatoes.png) no-repeat;
}

.gallery {
    background-color: #ffe92f;
    text-align: center;
    padding: 100px 30px;
}

.gallery h2 {
    font-size: 90px;
    color: #262626;
    font-weight: 700;
}

.gallery p {
    width: 630px;
    font-size: 17px;
    line-height: 27px;
    color: #262626;
    font-weight: 300;
    margin: 43px auto;
}

.gallery .pictures {
    display: flex;
    flex-wrap: nowrap;
    height: 560px;
}

.gallery .pictures .pictures_right {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 30px;
}

.gallery .pictures .pictures_right img {
    height: 260px;
}

.gallery .pictures .pictures_right img:last-child {
    margin-top: 35px;
}

.gallery .pictures .pictures_bottom {

    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding-top: 30px;
}

/* 
.gallery .pictures .pictures_right img {
    width: 75%;
} */

/* 
.gallery .pictures .pictures_right img:last-child {
    padding-top: 20px;
} */